@import "tailwindcss";

/* Custom scrollbar utilities */
@utility scrollbar-custom {
  &::-webkit-scrollbar {
    width: 0.625rem;
  }
  
  &::-webkit-scrollbar-track {
    background-color: rgb(10 10 10);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgb(64 64 64);
    border-radius: 0.25rem;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(82 82 82);
  }
}
