server:
  bind: 0.0.0.0
  port: 8080

database:
  driver: sqlite # sqlite or postgresql (aliases: pg, postgres)
  dsn: .oculus.db
  channel_capacity: 10000

# Path to directory with predefined collector configs
# Collectors from this directory are synced to database on startup (insert only)
# Modifications and deletions should be done via the web UI
collector_include: configs/collectors/
